/* about.css */
.about-container {
  padding: 30px;
  text-align: center;
}

.about-title {
  font-size: 2rem;
  color: #ff4da6;
  margin-bottom: 15px;
}

.about-text {
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
  color: #333;
}
